.w-form-formradioinput--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.w-form-formradioinput--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

.w-form-formradioinput--inputType-custom.w--redirected-checked {
  border-top-width: 4px;
  border-bottom-width: 4px;
  border-left-width: 4px;
  border-right-width: 4px;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
}

.w-checkbox {
  display: block;
  margin-bottom: 5px;
  padding-left: 20px;
}

.w-checkbox::before {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
}

.w-checkbox::after {
  content: ' ';
  display: table;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  clear: both;
}

.w-checkbox-input {
  float: left;
  margin-bottom: 0px;
  margin-left: -20px;
  margin-right: 0px;
  margin-top: 4px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
  border-top-color: #ccc;
  border-bottom-color: #ccc;
  border-left-color: #ccc;
  border-right-color: #ccc;
  border-top-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-style: solid;
  width: 12px;
  height: 12px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  border-top-color: #3898ec;
  border-bottom-color: #3898ec;
  border-left-color: #3898ec;
  border-right-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0px 0px 3px 1px #3898ec;
}

body {
  font-family: Inter, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: futura-pt, sans-serif;
  font-size: 38px;
  line-height: 44px;
  font-weight: 600;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: futura-pt, sans-serif;
  color: #009192;
  font-size: 24px;
  line-height: 30px;
  font-weight: 600;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: futura-pt, sans-serif;
  color: #444;
  font-size: 21px;
  line-height: 30px;
  font-weight: 600;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  font-family: Inter, sans-serif;
  color: #444;
  font-size: 14px;
  line-height: 22px;
}

a {
  color: #ff4e00;
  text-decoration: none;
}

.navbar {
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: transparent;
}

.logo {
  width: 300px;
  margin-top: 10px;
}

.navlink {
  margin-top: 10px;
  font-family: futura-pt, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.navlink.w--current {
  color: #ff4e00;
}

.title-orange {
  font-family: futura-pt, sans-serif;
  color: #ff4e00;
  font-size: 38px;
  line-height: 42px;
  font-weight: 600;
}

.title-orange.mb-40 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.title-orange.mb-80 {
  margin-bottom: 80px;
}

.section-hero {
  margin-bottom: -50px;
  padding-top: 0px;
  padding-bottom: 150px;
  background-image: url('../images/bg-top.svg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.subtitle {
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: futura-pt, sans-serif;
  font-size: 21px;
  line-height: 28px;
}

.button {
  margin-bottom: 20px;
  padding: 10px 25px;
  border-radius: 20px;
  background-color: #ff4e00;
  font-family: futura-pt, sans-serif;
  font-size: 18px;
  font-weight: 600;
}

.button.button-menu {
  margin-top: 20px;
}

.heading {
  font-size: 28px;
}

.heading-2 {
  color: #009192;
  line-height: 32px;
}

.paragraph {
  font-family: Inter, sans-serif;
  font-size: 14px;
  line-height: 24px;
}

.paragraph.mt-100 {
  margin-top: 100px;
}

.section-cta {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

.paragraph-2 {
  line-height: 24px;
}

.section-chapter {
  padding-top: 20px;
  padding-bottom: 40px;
}

.title {
  font-family: futura-pt, sans-serif;
  color: #009192;
  font-size: 38px;
  line-height: 42px;
  font-weight: 600;
}

.usecase {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-right: 40px;
  margin-bottom: 20px;
}

.usecase-right {
  padding-left: 20px;
}

.usecase-left {
  width: 70px;
  padding-top: 20px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.section-plans {
  padding-top: 40px;
  padding-bottom: 100px;
}

.plan {
  border-style: none;
  border-width: 3px;
  border-color: #fff;
  background-color: #fff;
  box-shadow: 1px 1px 20px 0 rgba(0, 0, 0, 0.15);
}

.plan.plan-recommended {
  border-style: solid;
  border-width: 3px;
  border-color: #009192;
}

.plan_head {
  min-height: 90px;
  padding: 10px 15px;
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
  border-radius: 0px;
}

.plan_section {
  padding: 20px 15px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.plan_section.plan_section-last {
  min-height: 90px;
  border-bottom-style: none;
  text-align: center;
}

.plan_section.plan_section-large {
  min-height: 265px;
  padding-bottom: 10px;
}

.plan_section.plan_section-medium {
  min-height: 135px;
}

.plan_section.plan_section-small {
  min-height: 110px;
}

.plan_type {
  padding-bottom: 10px;
}

.plan_text {
  margin-top: 0px;
  margin-bottom: 5px;
  font-weight: 400;
}

.procon_pro {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-image: url('../images/pro.svg');
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.procon_con {
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 30px;
  background-image: url('../images/con.svg');
  background-position: 0px 0px;
  background-size: auto;
  background-repeat: no-repeat;
  background-clip: border-box;
}

.plan_price {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: futura-pt, sans-serif;
  font-size: 24px;
  font-weight: 600;
}

.plan_unit {
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 400;
}

.plan_body {
  border-style: solid;
  border-width: 3px;
  border-color: #fff;
}

.plan_body.recommended {
  border-style: solid;
  border-width: 3px;
  border-color: #009192;
}

.div-block {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.image.image-center {
  text-align: center;
}

.image.image-right {
  text-align: right;
}

.image.image-right.image-paddingtop {
  margin-top: 20px;
}

.image.mb-40 {
  margin-bottom: 40px;
}

.image-2 {
  max-width: 90%;
}

.column.column-paddedright {
  padding-right: 30px;
  padding-bottom: 10px;
}

.select {
  border: 1px none #000;
  background-color: #fff;
  box-shadow: 1px 1px 10px 0 rgba(0, 0, 0, 0.1);
}

.label {
  display: inline-block;
  font-weight: 400;
}

.link.link-large {
  font-size: 18px;
}

.link.link-largefutura {
  font-family: futura-pt, sans-serif;
  font-size: 21px;
}

.link.link-mediumfutura {
  font-family: futura-pt, sans-serif;
  font-size: 18px;
}

.section-home {
  padding-top: 100px;
  padding-bottom: 160px;
  background-image: url('../images/bg-top.svg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-bold {
  font-weight: 600;
}

.logo-large {
  margin-bottom: 40px;
}

.embassy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-height: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url('../images/country-bulgaria.svg');
  background-position: 0px 0px;
  background-size: contain;
}

.embassy.embassy-germany {
  background-image: url('../images/country-germany.svg');
}

.embassy.embassy-japan {
  background-image: url('../images/country-japan.svg');
}

.embassy.embassy-thailand {
  background-image: url('../images/country-thailand.svg');
}

.embassy.embassy-thailand.mt-50 {
  margin-top: 35px;
}

.embassy_country {
  font-family: futura-pt, sans-serif;
  font-size: 48px;
  font-weight: 600;
}

.getnotified {
  margin-top: 10px;
  text-align: center;
}

.section-embassies {
  padding-bottom: 60px;
}

.faqtoggle {
  display: block;
  margin-bottom: 20px;
}

.faqtoggle.w--open {
  margin-bottom: 0px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.country {
  display: none;
  margin-top: 10px;
  padding-top: 20px;
}

.dropdown-list {
  background-color: hsla(0, 0%, 100%, 0.8);
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
}

.mt-80 {
  margin-top: 80px;
}

.member_portrait {
  overflow: visible;
  width: 160px;
  height: 160px;
  border-style: none;
  border-width: 3px;
  border-color: rgba(0, 145, 146, 0.2);
  border-radius: 160px;
  background-image: url('../images/ralf.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.2);
}

.member_portrait.member_portrait-daniel {
  background-image: url('../images/daniel.jpg');
}

.member {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  padding-right: 100px;
  padding-left: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.faq_body {
  position: relative;
}

.faq_body.w--open {
  padding: 20px;
  background-color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.dropdown {
  display: block;
  font-family: futura-pt, sans-serif;
  color: #009192;
  font-size: 21px;
  font-weight: 600;
}

.faqitem {
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.1);
}

.faqitem.w--open {
  margin-bottom: 0px;
}

.chapter_text {
  margin-top: 20px;
}

.chapter_head {
  padding-right: 20px;
}

.paragraph-large {
  font-family: futura-pt, sans-serif;
  font-size: 21px;
  line-height: 28px;
}

.section-consultation {
  padding-top: 20px;
  padding-bottom: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.section-ambassadors {
  padding-top: 0px;
  padding-bottom: 20px;
}

.section-footer {
  min-height: 500px;
  padding-top: 220px;
  background-image: url('../images/bg-bottom.svg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.logo-footer {
  margin-top: 10px;
  margin-bottom: 20px;
  padding-right: 40px;
}

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.social_icon {
  width: 35px;
  height: 35px;
  margin-right: 10px;
  margin-left: 0px;
  padding-left: 0px;
  background-image: url('../images/social-facebook.svg');
  background-position: 0px 0px;
  background-size: 35px 35px;
  background-repeat: no-repeat;
}

.social_icon.social_icon-linkedin {
  background-image: url('../images/social-linkedin.svg');
}

.social_icon.social_icon-mail {
  background-image: url('../images/social-mail.svg');
}

.planpreview {
  margin-bottom: 20px;
  border-style: none;
  border-width: 3px;
  border-color: #fff;
  background-color: transparent;
}

.planpreview.plan-recommended {
  border-style: solid;
  border-width: 3px;
  border-color: #009192;
}

.planpreview_body {
  display: none;
  border-style: none;
  border-width: 3px;
  border-color: #fff;
}

.planpreview_body.recommended {
  border-style: solid;
  border-width: 3px;
  border-color: #009192;
}

.planpreview_body.show {
  display: block;
}

.planpreview_head {
  padding: 5px 15px 5px 0px;
  border-bottom: 3px none rgba(0, 0, 0, 0.05);
  border-radius: 0px;
}

.planpreview_head.planpreview_head-empty {
  margin-bottom: -20px;
  padding-top: 1px;
  text-align: center;
}

.planpreview_section {
  padding: 10px 15px 10px 0px;
  border-bottom: 1px none rgba(0, 0, 0, 0.1);
}

.planpreview_section.plan_section-last {
  min-height: 120px;
  border-bottom-style: none;
}

.planpreview_section.plan_section-200 {
  min-height: 200px;
  padding-bottom: 10px;
}

.planpreview_section.plan_section-160 {
  min-height: 160px;
}

.planpreview_section.mb-40 {
  margin-bottom: 20px;
}

.section-wizard {
  margin-bottom: -150px;
  padding-top: 0px;
  padding-bottom: 170px;
  background-image: url('../images/bg-top.svg');
  background-position: 50% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.wizardhead {
  margin-bottom: 20px;
  font-size: 18px;
}

.wizardimage {
  margin-top: 90px;
  margin-bottom: -200px;
  text-align: center;
}

.wizardimage.image-center {
  text-align: center;
}

.wizardimage.image-right {
  text-align: right;
}

.wizardimage.image-right.image-paddingtop {
  margin-top: 20px;
}

.wizardimage.mb-40 {
  margin-bottom: 40px;
}

.column-paddedleft {
  padding-left: 20px;
}

.div-block-2 {
  display: inline-block;
  margin-left: 20px;
}

.label-margin {
  margin-top: 25px;
  font-weight: 400;
}

.mt-20 {
  margin-top: 20px;
}

.h2-large {
  font-size: 28px;
}

.h2-large.alpha-10 {
  color: rgba(68, 68, 68, 0.2);
}

.radio {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border-width: 2px;
  background-color: #fff;
}

.radio.w--redirected-checked {
  border-color: #ff4e00;
}

.radiolabel {
  margin-top: 3px;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin-right: auto;
  border-width: 2px;
  background-color: #fff;
}

.checkbox.w--redirected-checked {
  border-color: #ff4e00;
  background-color: #ff4e00;
}

.checklabel {
  margin-top: 5px;
  padding-left: 10px;
}

.section-plancompare {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 0px;
}

.h2-faded {
  color: #f8fcfc;
  font-size: 28px;
}

.alpha-10 {
  color: rgba(68, 68, 68, 0.2);
}

.divlabel {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.help {
  position: relative;
  display: inline-block;
  width: 20px;
  margin-left: 5px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  opacity: 1;
}

.help_content {
  position: absolute;
  left: 30px;
  top: -80px;
  z-index: 1000;
  display: none;
  width: 280px;
  padding: 15px 20px;
  background-color: #fff;
  box-shadow: 1px 1px 30px 0 rgba(0, 0, 0, 0.15);
  opacity: 0;
  -webkit-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
  -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: opacity 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease;
  transition: transform 200ms ease, opacity 200ms ease, -webkit-transform 200ms ease;
}

.help_content.show {
  left: 10px;
  top: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.checkboxfield {
  margin-bottom: 15px;
}

.checkboxwithhelp {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.price {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.calendly {
  margin-top: 40px;
}

.help_close {
  width: 20px;
  height: 20px;
  margin-top: -25px;
  margin-right: 0px;
  margin-left: -31px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -webkit-transition: -webkit-transform 200ms ease;
  transition: -webkit-transform 200ms ease;
  transition: transform 200ms ease;
  transition: transform 200ms ease, -webkit-transform 200ms ease;
  cursor: pointer;
}

.help_close:hover {
  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.help_image {
  width: 20px;
  height: 20px;
  margin-top: 5px;
  background-image: url('../images/help.svg');
  background-position: 0px 0px;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  opacity: 0.3;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  cursor: pointer;
}

.help_image:hover {
  opacity: 1;
}

.mb-56 {
  margin-bottom: 56px;
}

.startimage {
  margin-top: 40px;
  margin-bottom: -50px;
}

.social_icon-menu {
  display: inline-block;
  margin-top: 10px;
  padding-top: 0px;
}

.section-useful {
  padding-top: 0px;
  padding-bottom: 20px;
}

.section-howitworks {
  padding-top: 0px;
  padding-bottom: 20px;
}

.section-dues {
  padding-top: 40px;
  padding-bottom: 20px;
}

.section-dues.hide {
  display: none;
}

.pro_toggle {
  display: block;
  margin-bottom: 20px;
  padding-left: 60px;
  background-image: url('../images/pro.svg');
  background-position: 20px 20px;
  background-size: auto;
  background-repeat: no-repeat;
}

.pro_toggle.w--open {
  margin-bottom: 0px;
}

.procon_body {
  position: relative;
}

.procon_body.w--open {
  padding: 20px;
  background-color: #fff;
  font-family: Inter, sans-serif;
  font-weight: 400;
}

.proconitem {
  margin-bottom: 20px;
  box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.1);
}

.proconitem.w--open {
  margin-bottom: 0px;
}

.con_toggle {
  display: block;
  margin-bottom: 20px;
  padding-left: 60px;
  background-image: url('../images/con.svg');
  background-position: 20px 20px;
  background-size: auto;
  background-repeat: no-repeat;
}

.con_toggle.w--open {
  margin-bottom: 0px;
}

.section-procon {
  padding-top: 40px;
  padding-bottom: 40px;
}

.mb-40 {
  margin-bottom: 40px;
}

.pricelarge {
  font-family: futura-pt, sans-serif;
  color: #009192;
  font-size: 80px;
  line-height: 100px;
  font-weight: 600;
}

.pricelarge.mb-40 {
  margin-top: 0px;
  margin-bottom: 40px;
}

.pricelarge_currency {
  font-size: 38px;
  font-weight: 400;
}

.section-story {
  padding-top: 70px;
  padding-bottom: 70px;
}

.story_image {
  margin-top: 110px;
  text-align: center;
}

.story_title {
  margin-top: 0px;
  color: #009192;
  font-size: 38px;
  line-height: 42px;
}

.plantitle {
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: futura-pt, sans-serif;
  color: #009192;
  font-size: 38px;
  line-height: 42px;
  font-weight: 600;
}

.section-pricing {
  padding-top: 20px;
  padding-bottom: 40px;
}

.calculator_settings {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.calculator_settingscol {
  margin-right: 10px;
}

.calculator_settingscol.calculator_settingscol-center {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.calculator_settingscol.calculator_settingscol-left {
  width: 140px;
  margin-right: 10px;
}

.calculator_row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 16px;
}

.calculator_row.calculator_row-separator {
  padding-top: 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px none #000;
}

.calculator_incometype {
  width: 140px;
  margin-right: 10px;
}

.calculator_currency {
  width: 60px;
  margin-left: 10px;
}

.calculator_resultcol {
  padding-left: 12px;
}

.calculator_resultcol.calculator_settingscol-center {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.calculator_resultcol.calculator_settingscol-left {
  width: 140px;
  margin-right: 10px;
}

.calculator_labelcol {
  width: 140px;
  margin-right: 10px;
  padding-left: 17px;
}

.calculator_labelcol.calculator_settingscol-center {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.calculator_labelcol.calculator_settingscol-left {
  width: 140px;
  margin-right: 10px;
}

.calculator_revenuecol {
  width: 140px;
  margin-right: 10px;
}

.calculator_revenuecol.calculator_settingscol-center {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.calculator_revenuecol.calculator_settingscol-left {
  width: 140px;
  margin-right: 10px;
}

.story_img {
  width: 260px;
}

.residentimage {
  margin-top: 70px;
  margin-bottom: -70px;
  text-align: center;
}

.residentimage.image-center {
  text-align: center;
}

.residentimage.image-right {
  text-align: right;
}

.residentimage.image-right.image-paddingtop {
  margin-top: 20px;
}

.residentimage.mb-40 {
  margin-bottom: 40px;
}

.calculator_exchange {
  display: none;
}

.calculator_payout {
  font-family: Inter, sans-serif;
}

.story_subtitle {
  margin-bottom: 40px;
  font-family: futura-pt, sans-serif;
  font-size: 24px;
}

.calculator_input {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.1);
}

.calculator_input:focus {
  border-style: solid;
  border-width: 2px;
  border-color: #ff4e00;
}

.mt-x {
  margin-top: 112px;
}

.mt-0 {
  margin-top: 0px;
}

@media screen and (max-width: 991px) {
  .plan_section.plan_section-large {
    min-height: 362px;
  }

  .plan_section.plan_section-medium {
    min-height: 190px;
  }

  .mb-56 {
    margin-bottom: 25px;
  }

  .pro_toggle {
    padding-left: 45px;
    background-position: 15px 20px;
    font-size: 18px;
  }

  .con_toggle {
    padding-left: 45px;
    background-position: 15px 20px;
    font-size: 18px;
  }
}

@media screen and (max-width: 767px) {
  .usecase-left {
    width: 70px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .image.image-right.image-paddingtop {
    display: none;
    overflow: visible;
    margin-top: 40px;
  }

  .column.column-paddedright {
    padding-right: 0px;
  }

  .link.link-large {
    font-size: 18px;
  }

  .link.link-largefutura {
    font-size: 18px;
  }

  .link.link-mediumfutura {
    font-size: 18px;
  }

  .link-copy.link-large {
    font-size: 18px;
  }

  .section-wizard {
    margin-bottom: -190px;
    padding-bottom: 540px;
  }

  .wizardimage.image-right.image-paddingtop {
    display: none;
    overflow: visible;
    margin-top: 40px;
  }

  .help_content {
    display: none;
    box-shadow: none;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    -webkit-transition-property: none;
    transition-property: none;
  }

  .help_content.show {
    left: auto;
    right: 10px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .help_content.show.help_content-right {
    left: auto;
    right: 10px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .help_content.help_content-right {
    left: auto;
    top: 13px;
    right: -30px;
  }

  .help_close {
    margin-right: -30px;
    margin-left: auto;
  }

  .help_close.help_close-right {
    margin-right: -30px;
    margin-left: auto;
  }

  .mb-56 {
    margin-bottom: 0px;
  }

  .story_image {
    margin-bottom: 40px;
  }

  .residentimage.image-right.image-paddingtop {
    display: none;
    overflow: visible;
    margin-top: 40px;
  }
}

@media screen and (max-width: 479px) {
  .navbar {
    padding-bottom: 0px;
  }

  .title-orange {
    font-size: 32px;
    line-height: 33px;
  }

  .section-hero {
    padding-bottom: 20px;
  }

  .subtitle {
    margin-bottom: 20px;
  }

  .section-chapter {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .usecase {
    margin-right: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .usecase-right {
    padding-left: 0px;
  }

  .usecase-left {
    width: 53px;
    margin-left: 0px;
  }

  .plan {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .plan_section.plan_section-large {
    min-height: auto;
  }

  .column.column-paddedright {
    padding-right: 0px;
  }

  .section-home {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .logo-large {
    width: 270px;
  }

  .country {
    padding-top: 10px;
  }

  .member {
    padding-right: 0px;
  }

  .section-footer {
    padding-top: 100px;
  }

  .logo-footer.w--current {
    padding-left: 0px;
  }

  .planpreview {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .section-wizard {
    margin-bottom: -150px;
    padding-bottom: 560px;
  }

  .section-plancompare {
    margin-top: auto;
  }

  .help_content.show {
    left: auto;
    right: -1px;
    width: 90vw;
    margin-right: 10px;
    margin-left: 10px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;
  }

  .help_close {
    margin-right: -28px;
    margin-left: auto;
  }

  .icon {
    margin-top: 14px;
  }

  .startimage {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .pricelarge {
    margin-bottom: 20px;
    font-size: 60px;
    line-height: 33px;
  }

  .pricelarge_currency {
    font-size: 24px;
  }

  .section-story {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .section-pricing {
    padding-top: 0px;
    padding-bottom: 20px;
  }

  .calculator_row {
    margin-top: 5px;
  }

  .calculator_resultcol {
    font-size: 14px;
  }

  .calculator_labelcol {
    width: 107px;
    padding-left: 0px;
    font-size: 14px;
  }

  .calculator_revenuecol {
    width: auto;
  }
}

