<div class="section-bloghead">
  <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
    <div class="w-container">
      <div class="bloghead">
        <a href="/blog/index.html" class="logo w-nav-brand"><img src="/images/NN-Logo-cropped.svg" loading="lazy" alt="">
          <div class="blogtitle">
            <h1 class="blogsubtitle_text">Blog</h1>
          </div>
        </a>
        <a href="bulgaria/pricing.html" class="navmenulink"><span class="linkarrow">Homepage</span> →</a>
      </div>
      <div class="blogsubtitle">
        <p class="subtitle subtitle-blog">A global platform to enable you to live and do business wherever you like.</p>
      </div>
    </div>
  </div>
</div>