<div class="section-bloghead">
  <div data-collapse="medium" data-animation="default" data-duration="400" role="banner" class="navbar w-nav">
    <div class="w-container">
      <a href="/blog.html" class="logo w-nav-brand"><img src="/images/NN-Logo-cropped.svg" loading="lazy" alt=""></a>
      <div class="blogtitle">
        <h1 class="blogsubtitle_text">Blog</h1>
      </div>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
      <nav role="navigation" class="navmenu w-nav-menu">
        <a href="/index.html" class="navmenulink"><span class="linkarrow">Homepage</span> →</a>
      </nav>
      <div class="blogsubtitle">
        <p class="subtitle subtitle-blog">A global platform to enable you to live and do business wherever you like.</p>
      </div>
    </div>
  </div>
</div>