<div class="section-footer">
  <div class="w-container">
    <div class="w-row">
      <div class="w-col w-col-4">
        <a href="index.html" class="logo-footer w-nav-brand"><img src="/images/NN-Logo-cropped.svg" loading="lazy" alt=""></a>
        <p>Nomad Nation OOD<br>30-32, Gen. E.I. Totleben Blvd., fl 2<br>1606 Sofia<br>Bulgaria</p>
      </div>
      <div class="footerlinkcol w-col w-col-4">
        <ul role="list" class="footerlinks"></ul>
        <ul role="list" class="footerlinks"></ul>
      </div>
      <div class="w-col w-col-4">
        <div class="social">
          <a href="#" class="social_icon social_icon-mail w-inline-block"></a>
          <a href="https://www.facebook.com/groups/nomadnation.org" class="social_icon social_icon-facebook w-inline-block"></a>
        </div>
        <h2>Follow the Conversation</h2>
        <p><strong>Join our group on facebook and be part of Nomad Nation from the beginning.</strong><br></p>
        <a href="https://www.facebook.com/groups/nomadnation.org" target="_blank" class="link link-largefutura">Join group →</a>
      </div>
    </div>
  </div>
</div>